<h1>Frontend</h1>
<h4>Produtos:</h4>
<button (click)="consultar()">Consultar</button>
<button (click)="cadastrar()">Cadastrar</button>
<br>
<br>
<div>
  <label>Nome:</label><input [value]="produto.nome">
  <br>
  <br>
  <label>Descrição:</label><input [value]="produto.descricao">
  <br>
  <br>
  <label>Valor:</label><input [value]="produto.valor">
</div>
<div *ngFor="let produto of listaProduto">
  <br>
  <label>{{produto.id}}</label>
  <br>
  <label>{{produto.nome}}</label>
  <br>
  <label>{{produto.descricao}}</label>
  <br>
  <label>{{produto.valor}}</label>
</div>